    html {
        font-size: 62.5%;
    }
    
    .navbar,
    .navbar.navbar-default {
        opacity: 0.8;
    }
    
    .main {
        position: relative;
        top: 25px;
    }
    
    footer {
        margin: 20px;
        text-align: center;
    }
    
    section {
        margin-top: 10px;
        /*border: solid red 1px;*/
    }
    
    section .anchor {
        position: relative;
        top: -70px;
    }
    
    div.banner {
        background-image: url("/images/header1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
    }
    
    div.callforspeaker {
        background-image: url("/images/speaker.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
    }
    
    div.callforsponsor {
        background-image: url("/images/sponsor.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
    }
    
    div.callforsponsor p,
    div.callforspeaker p {
        font-size: 0.5em;
    }
    
    section.header h2 {
        font-family: 'Catamaran', sans-serif;
        font-size: 3em;
        position: relative;
        top: 25%;
        text-align: center;
    }
    
    section.header .services {
        position: relative;
        top: 40%;
        display: flex;
        justify-content: center;
    }
    
    section h2 {
        text-align: center;
        /*text-transform: capitalize;*/
        font-size: 3em;
        font-weight: 400;
    }
    
    .whyus h2,
    {
        margin-top: 50px;
    }
    
    .whyus ul,
    .sponsors ul,
    .team ul {
        list-style: none;
        margin: 100px 0;
    }
    
    .whyus li,
    .sponsors li {
        text-align: center;
    }
    
    .whyus li i,
    .sponsors li i {
        font-size: 8em;
        color: #009688;
    }
    
    .team li i {
        font-size: 4em;
        color: #009688;
    }
    
    .team li img {
        width: 200px;
        height: 200px;
        border-radius: 100px;
    }
    
    .profile {
        text-align: center;
    }
    
    .whyus li .list-header,
    .sponsors li .list-header {
        font-size: 2em;
        font-weight: 500;
        text-transform: capitalize;
        min-height: 3em;
    }
    
    .whyus li .list-content {
        font-size: 1em;
    }
    
    .sponsoring {
        text-align: center;
    }
    
    .sponsoring-header {
        font-size: 1.3em;
    }
    
    .credit {
        margin: 30px;
        margin-top: 60px;
    }
    
    .credit h2 {
        font-size: 1.5em
    }
    
    .social {
        text-align: right;
        width: 25%;
    }
    
    .social .icons {
        margin: 1em 0 0 0;
    }
    
    .social .icons li {
        float: right;
        margin-left: 1.5em;
        list-style: none;
    }
    
    .social .icons .label {
        display: none;
    }
    
    .page_header {
        text-align: center;
        padding: 30px;
    }
    
    .page_header h2 {
        font-weight: lighter;
        font-size: 2.5em;
    }
    
    .page_header p {
        font-weight: lighter;
        font-size: 1.1em;
    }
    
    .newsletter {
        width: 50%;
        margin: auto;
    }
    
    #sponsorlevels {
        margin: 30px;
    }
    
    .sponsors li i.garnet {
        color: #722F37;
        font-size: 1em;
    }
    
    .sponsors li i.sliver {
        color: silver;
        font-size: 1em;
    }
    
    .sponsors li i.gold {
        color: gold;
        font-size: 1em;
    }
    
    .sponsors li i.platinum {
        color: #E5E4E2;
        font-size: 1em;
    }
    
    .sponsorlevel ul {
        margin: 0;
    }
    
    .google-maps {
        position: relative;
        padding-bottom: 50%;
        height: 0;
        overflow: hidden;
    }
    
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }